@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
     --primary-header-color: #324A56;
     --primary-footer-color: rgb(157, 169, 185);
     --primary-header1-color: #172647;
     --primary-footer1-color: #748DB5;
}
